<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="FirstColorChangeTime"  value="16:30" />   <!-- must be before second and change back -->
    <add key="SecondColorChangeTime" value="17:00" />
    <add key="ChangeBackTime"        value="20:00" />   <!-- must be after first and second -->
  </appSettings>
</configuration>
