<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="FirstColorChangeTime"  value="16:30" />   <!-- must be before second and change back -->
    <add key="SecondColorChangeTime" value="17:00" />
    <add key="ChangeBackTime"        value="20:00" />   <!-- must be after first and second (so cannot be midnight) -->
    
    <add key="AddShortLocks"         value="false" />   <!-- whether to add short (<1min) duration computer locks to the list -->
    <add key="LockTimePersistFile"   value="C:\Temp\Clock\LockTimePersistFile.txt" />   <!-- if this has a value, it'll save times to a file rather than just holding in memory -->
  </appSettings>
</configuration>
